*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    height: 60px;
    padding-top: 1rem;
    background-color: rgb(11, 11, 38);
    color: aliceblue;
}
.choice:hover {
  background-color: black;
  cursor: pointer;
  opacity: 50%;
}
.choice{
    height: 215px;
    width: 215px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    
}

.choices {
    
    margin: 5rem;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.score-board{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#comp-score , #user-score {
    font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    font-size: 2rem;
    padding: 1rem;
    color: rgb(231, 239, 239);
    background-color: black;
    display: inline;

      border-radius: 1rem;

    
    
}